[Desktop Entry]
Type=Application
Exec=anki -p "User 1"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Anki
Name=Anki
Comment[en_US]=opens...anki
Comment=opens...anki
