[Desktop Entry]
Type=Application
Exec=/home/mat/Documents/ProgramExperiments/fleetingNotes/main/checkForFiles.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=false
Name[en_US]=VM2Anki
Name=VM2Anki
Comment[en_US]=starts up the receiving of VMnotes to put into Anki
Comment=starts up the receiving of VMnotes to put into Anki
