[Desktop Entry]
Type=Application
Exec=zotero --headless
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Zotero
Comment=Auto-start Zotero reference manager
