[Desktop Entry]
Type=Application
Exec=whatsdesk
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Whatsapp
Name=Whatsapp
Comment[en_US]=opens...whatsapp
Comment=opens...whatsapp
