matches:
  - trigger: "mapto"
    replace: "!maps {ADDRESS} to "

  - trigger: ":phn"
    replace: ""

  - trigger: ":rphn"
    replace: ""

  - trigger: ":eml"
    replace: ""

  - trigger: ":addr"
    replace: ""
